{% extends 'layouts/base.html' %}

{% block content %}
<article>
    <h1>Terms of Service</h1>
    <p>By accessing the website, you are agreeing to be bound by these terms of service, all applicable laws and regulations, and agree that you are responsible for compliance with any applicable local laws. If you do not agree with any of these terms, you are prohibited from using or accessing this site. The materials contained in this website are protected by applicable copyright and trademark law.</p>
    <ol type="i">
    	<li>Any error, omission, interruption, deletion, defect, delay, communications failure, 
    	theft or destruction or unauthorized access to, or alteration of, user or Member 
    	postings or communications.</li>
    	<li>The accuracy, integrity, completeness, or quality of any information, outputs or Content 
    	available from or through the Site; rather, responsibility for verification resides with 
    	the user of the information, output or Content.</li>
    	<li>Problems with telephone lines, computer systems, third party providers, or any technical 
    	problems or traffic congestion on the Internet or any website;</li>
    	<li>Injury or damage to users&rsquo;, members&rsquo; or other persons&rsquo; computers or networks resulting from 
    	participating or downloading materials in connection with the Site;</li>
    </ol>
    <p>The materials appearing on this website could include technical, typographical, or photographic errors. We do not warrant that any of the materials on its website are accurate, complete or current. We may make changes to the materials contained on its website at any time without notice. However we do not make any commitment to update the materials.</p>
    <p>These terms of service are subject to change at any time without notice. By using this website you are agreeing to be bound by the then current version of these terms of service.</p>
    <p>
    	THIS SERVICE IS PROVIDED BY THE AUTHOR &lsquo;AS IS&rsquo; AND ANY EXPRESS OR
    	IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES
    	OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED.
    	IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR ANY DIRECT, INDIRECT,
    	INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT
    	NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
    	DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY
    	THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
    	(INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF
    	THIS SERVICE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
    </p>
</article>
{% endblock %}
